* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: palevioletred;
}
main {
    flex-grow: 1;
}
.sub-container {
    display: block;
    padding: 10px;
    width: 90%;
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
}


.header-container {
    display: flex;
    padding: 20px;
}
.logo {
    margin-right: auto;
    display: border;
    width: 100px;
    height: auto;

}
.links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.links ul li{
    float: left;
}
.links a{
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
    margin-top: 20px;
    padding: 15px;

}


#one {
    background-color: pink;
}
#two {
    background-color: aliceblue;
}



.about-me {
    display: block;
    display: flex; /* confused if display flex or box*/
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}
.me-image{
    display: block;   
}
img {
    padding: 10px;
    display: block;
    width: 100%;
    height: auto;
}
.me-item {
    display: block;
}
@media (min-width: 700px) {
    .about-me {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    .about-me :is(.me-image, .me-item) {
        flex-basis: 50%;
    }
}



.project h1 {
    text-align: center;
}
.item {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    flex-wrap: wrap;
}
.project-item {
    padding: 20px;
}
.project-item img {
    width: 150px;
    height: 200px;
    border-radius: 50%;
}
.project-item img:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: 0.25s;
}
.project-item p {
    text-align: center;
    font-size: 1.2em;
}